@page "/"
@using MemoryGame.Components.CardComponents
@rendermode InteractiveServer

<PageTitle>Memory Game</PageTitle>



<div class="container-fluid">
    <header class="navbar navbar-expand-lg navbar-light bg-light flex-fill">
        <h1 class="text-center me-auto">Memory Game</h1>
        <h5 class="m-1"> Select Game Mode:</h5>
        <button type="button" class="btn btn-success m-1" @onclick="BeginnerGameMode">Beginner</button>
        <button type="button" class="btn btn-secondary m-1" @onclick="IntermediateGameMode">Intermediate</button>
        <button type="button" class="btn btn-danger m-1" @onclick="AdvancedGameMode">Advanced</button>
    </header>

    <br/>

    <div class="row">
        <div class="col-md-9 game-area">

            @if (_cards != null)
            {
                @foreach (var card in _cards)
                {
                    <CardComponent Card="@card" OnFlip="HandleCardFlip"/>
                }
            }

            @if (_isGameOver)
            {
                <p>GAME OVER</p>
            }

        </div>
        <div class="col-md-1 d-flex justify-content-center game-history-area">
            <div class="vr"></div>
        </div>
        <div class="col-md-2 text-center">Game History</div>
    </div>
</div>


@code{

    private List<Card> _cards;
    private List<Card> _flippedCards;
    private List<string> _gamesWonHistory;
    private TimeSpan _gameDuration;
    private bool _isTimeRunning;
    private bool _isGameOver;
    private int _gamesWon;

    protected override void OnInitialized()
    {
        _flippedCards = new List<Card>();
        _gamesWonHistory = new List<string>();
        BeginnerGameMode();
    }

    private void BeginnerGameMode()
    {
        GenerateCards(2);
    }

    private void IntermediateGameMode()
    {
        GenerateCards(4);
    }

    private void AdvancedGameMode()
    {
        GenerateCards(6);
    }

    private void GenerateCards(int pairs)
    {
        var list = new List<Card>();
        var colors = Enum.GetValues<Color>();
        for (var i = 0; i < pairs; i++)
        {
            var number = i + 1;
            var color = colors[i % colors.Length];
            list.Add(new Card { Number = number, Color = color });
            list.Add(new Card { Number = number, Color = color });
        }

        _cards = Shuffle(list);
        StateHasChanged();
    }

    private List<Card> Shuffle(List<Card> source)
    {
        var rng = new Random();
        return source.OrderBy(_ => rng.Next()).ToList();
    }

    private async Task HandleCardFlip(Card flipped)
    {
        _flippedCards.Add(flipped);

        if (_flippedCards.Count == 2)
        {
            var a = _flippedCards[0];
            var b = _flippedCards[1];

            if (a.Number == b.Number)
            {
                a.IsMatched = true;
                b.IsMatched = true;
            }
            else
            {
                await Task.Delay(500);
                a.IsFlipped = false;
                b.IsFlipped = false;
            }

            _flippedCards.Clear();

            if (!AnyFlippableCards())
            {
                _isGameOver = true;
            }

            StateHasChanged();
        }
    }

    private bool AnyFlippableCards()
    {
        return _cards != null && _cards.Any(c => !c.IsMatched && !c.IsFlipped);
    }


}