@page "/"
@using MemoryGame.Components.CardComponents
@rendermode InteractiveServer

<PageTitle>Memory Game</PageTitle>



<div class="container-fluid">
    <header class="navbar navbar-expand-lg navbar-light bg-light flex-fill">
        <h1 class="text-center me-auto">Memory Game</h1>
        <h5 class="m-1"> Select Game Mode:</h5>
        <button type="button" class="btn btn-success m-1" @onclick="BeginnerGameMode">Beginner</button>
        <button type="button" class="btn btn-secondary m-1" @onclick="IntermediateGameMode">Intermediate</button>
        <button type="button" class="btn btn-danger m-1" @onclick="AdvancedGameMode">Advanced</button>
    </header>

    <br/>

    <div class="row">
        <div class="col-md-9">
            @if (_isIntermediateMode)
            {
                <IntermediateCardGameComponent></IntermediateCardGameComponent>
            }
            else if (_isAdvancedMode)
            {
                <AdvancedCardGameComponent></AdvancedCardGameComponent>
            }
            else
            {
                <BeginnerCardGameComponent></BeginnerCardGameComponent>
            }
        </div>
        <div class="col-md-1 d-flex justify-content-center">
            <div class="vr"></div>
        </div>
        <div class="col-md-2 text-center">Game History</div>
    </div>
</div>


@code{

    public Card Card { get; set; }
    private List<Card> _cards;
    private TimeSpan _gameDuration;
    private bool _isTimeRunning = false;
    private bool _isGameOver = false;
    private bool _isBeginnerMode = true;
    private bool _isIntermediateMode;
    private bool _isAdvancedMode;
    private int _gamesWon;


    private void BeginnerGameMode()
    {
        _isBeginnerMode = true;
        _isIntermediateMode = false;
        _isAdvancedMode = false;
    }

    private void IntermediateGameMode()
    {
        _isBeginnerMode = false;
        _isIntermediateMode = true;
        _isAdvancedMode = false;
    }

    private void AdvancedGameMode()
    {
        _isBeginnerMode = false;
        _isIntermediateMode = false;
        _isAdvancedMode = true;
    }

}