<div class="row">
    <CardComponent></CardComponent>
    <CardComponent></CardComponent>
    <CardComponent></CardComponent>
    <CardComponent></CardComponent>
</div>
<div class="row">
    <CardComponent></CardComponent>
    <CardComponent></CardComponent>
    <CardComponent></CardComponent>
    <CardComponent></CardComponent>
</div>
<div class="row">
    <CardComponent></CardComponent>
    <CardComponent></CardComponent>
    <CardComponent></CardComponent>
    <CardComponent></CardComponent>
</div>