<div class="memory-card" @onclick="OnClickAsync">
    @if (Card.IsFlipped || Card.IsMatched)
    {
        <div class="memory-card-front" style="background-color:@Card.Color.GetBackground(); color:@Card.Color.GetTextColor();">
            @Card.Number
        </div>
    }
    else
    {
        <div class="memory-card-back">?</div>
    }
</div>



@code {

    [Parameter] public Card Card { get; set; }
    [Parameter] public EventCallback<Card> OnFlip { get; set; }

    private async Task OnClickAsync()
    {
        if (Card.IsMatched) return;
        Card.IsFlipped = true;
        await OnFlip.InvokeAsync(Card);
    }

}